body {
  background-color: rgb(255, 255, 255);
  font: normal 1.25em/4.4 'Product Sans';
  color: rgb(255, 255, 255);
}

.element .element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 308px;
  height: 88px;
  margin: auto;
  background-color: rgb(39, 39, 39);
}

.image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 18.6333198051%;
  z-index: 4;
  width: 31px;
  height: auto;
  margin: auto 0;
  overflow: hidden;
}

.element-1 {
  float: left;
  width: 100%;
  height: 377px;
  background: rgb(222, 222, 222);
  background: -webkit-linear-gradient(270deg, #ff00a4 0%, #ff0040 100%) rgb(222, 222, 222);
  background:    -moz-linear-gradient(270deg, #ff00a4 0%, #ff0040 100%) rgb(222, 222, 222);
  background:      -o-linear-gradient(270deg, #ff00a4 0%, #ff0040 100%) rgb(222, 222, 222);
  background:     -ms-linear-gradient(270deg, #ff00a4 0%, #ff0040 100%) rgb(222, 222, 222);
  background:         linear-gradient(180deg, #ff00a4 0%, #ff0040 100%) rgb(222, 222, 222);
}

.element-2 {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 88px;
  background-color: rgb(39, 39, 39);
  overflow: hidden;
}

.text-1 {
  position: relative;
  float: left;
  z-index: 0;
  margin: 127px 0 0 10%;
  font: 2.5em/2 'Product Sans Bold';
  color: rgb(255, 255, 255);
}

.text-2 {
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  margin: -20px 0 0 10%;
  font-size: 1.1em;
  line-height: 1.38;
  color: rgba(255, 255, 255, 0.65);
}

.text-3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40.5641233766%;
  z-index: 3;
  width: 41.2337662337%;
  margin: auto 0;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: Bold;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

@media(max-width: 700px) {
  .element .element {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .element .image {
    top: 0;
    bottom: 0;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .element .text-1 {
    position: relative;
    z-index: 0;
  }

  .element .text-2 {
    position: relative;
    z-index: 1;
  }

  .element .text-3 {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media(max-width: 500px) {
  body {
    font-size: 1.25em;
  }

  .element .element {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .element .image {
    top: 0;
    bottom: 0;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .element .text-1 {
    position: relative;
    z-index: 0;
    margin-top: 159px;
    margin-left: 22%;
  }

  .element .text-2 {
    position: relative;
    z-index: 1;
    margin-left: 22.4%;
  }

  .element .text-3 {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}

@media(max-width: 460px) {
  .element .element {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .element .image {
    top: 0;
    bottom: 0;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .element .text-1 {
    position: relative;
    z-index: 0;
    margin-left: 16.8%;
  }

  .element .text-2 {
    position: relative;
    z-index: 1;
    margin-left: 17.20082%;
  }

  .element .text-3 {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
  }
}