@import url('https://fonts.googleapis.com/css2?family=Jost:wght@620&family=Poppins:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

#header {
    height: 5em;
    border-bottom: 1px solid #ececec;
    background-color: white;
    /*background-color: #f8054d;*/
    /*color: white;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 100;
}

#header>ul {
    display: flex;
    list-style: none;
}

#header>ul>li {
    padding: 1.7em 0;
    margin: 0 2em;
    cursor: pointer;
    transition: border .3s;
    transition: color .2s;
}

#main-view {
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-selected {
    border-bottom: 2px solid #f8054d;
    color: black;
}

.header-unselected {
    color: #b3b3b3;
}

.social {
    margin-top: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social>a {
    margin: 0 1em;
}

.social>a>i {
    opacity: 0.5;
    font-size: 1.5em;
    text-decoration: none;
    color: #212121;
}

.social>a>i:hover {
    opacity: 1;
}

#profile {
    display: flex;
    align-items: center;
}

#profile>img {
    height: 18em;
    border-radius: 2px;
}

#profile>#profile-info {
    margin-left: 4em;
}

#profile>#profile-info>#description {
    opacity: 0.4;
    font-size: 1.5em;
}

#profile>#profile-info>#name {
    font-size: 5em;
    opacity: 1.0;
    font-family: 'Jost', sans-serif;
}

.section {
    align-items: center;
    display: flex;
    padding: 2em 15%;
}

.section>.section-title {
    color: white;
    background-color: #f8054d;
    border-radius: 5px;
    padding: 15px 30px;
}

.section>.section-description {
    padding: 15px;
}

.project-grid {
    padding: 0 15%;
}

.project-grid>ul {
    display: flex;
    list-style: none;
    flex-flow: row wrap;
}

.project-grid>ul>li {
    flex: 1 0 33%;
    max-width: 33%;
}

.project {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project>.project-description {
    text-align: justify;
    align-self: center;
    width: 75%;
}

.project>.project-title {
    font-size: 18pt;
    font-family: 'Jost', sans-serif;
    padding: 1em 2em;
    text-align: center;
}

.project>img {
    height: 8em;
    background-color: #212121;
    width: 100%;

    border-radius: 5px;
    transform: scale(.97);

    padding: 8em 0;
}

.project>.winner-banner {
    display: none;
}

.big-image>img {
    height: 14em;
    background-color: #212121;
    width: 100%;
    padding: 5em 0;
}

.winner {
    overflow: hidden;
}

.winner>.winner-banner {
    display: block;
    width: 100%;
    color: #ffa600;
    text-align: center;
    padding: .5em 2em;
    animation: winner;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes winner {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.project>.project-links {
    margin-top: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.project>.project-links>a {
    text-decoration: none;
    margin: 10px 10px;
    padding: 10px 20px;
    border-radius: 3px;
}

.project-links>.github {
    color: white;
    background-color: #212121;
}

.project-links>.devpost {
    color: white;
    background-color: #003e54;
}

.project-links>.playstore {
    background-color: transparent;
    color: #0779e4;
    border: solid 2px #0779e4;
}

.project-links>.web {
    color: white;
    background-color: #0779e4;
}

.project-links>.itch {
    color: white;
    background-color: #fa5c5c;
}

.contact-container {
    margin: 2em 0;
    padding: 0 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-container>.contact-text {
    font-size: 25pt;
    width: 50vw;
    padding: 1.5em;
    padding-bottom: 2.5em;
    /* border: solid 1px #ececec; */
    text-align: center;
    border-radius: 2px;
}

.contact-container>.contact-email {
    padding: 1em 3em;
    color: #f8054d;
    text-decoration: none;
    border: 2px solid #f8054d;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin-top: -2em;
    transition: all .3s;
    box-shadow: 0 0 2em rgba(111, 117, 129, 0.09);
}

.contact-container>.contact-email:hover {
    background-color: #f8054d10;
}

/* footer container */
.footer {
    margin-top: 5em;
    display: flex;
    height: 10em;
    background-color: #ececec;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 15%;
}

.footer>.i-love {
    color: #212121;
    opacity: 0.5;
    text-align: left;
}

.footer>.footer-powered {
    opacity: 0.5;
    text-align: right;
    color: #212121;
}

.sticky {
    top: 0;
    position: fixed;
}

#dummy-header {
    display: none;
    height: 5em;
    width: 100%;
}

.menu-bars {
    display: none !important;
    font-size: 1.2em;
}

.mobile-menu {
    display: none;
}

/* tablet landscape */
@media (max-width: 1650px) {
    .project-grid>ul>li {
        flex: 1 0 50%;
        max-width: 50%;
    }
}

/* tablet portrait */
@media (max-width: 900px) {
    .project-grid>ul>li {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .contact-container>.contact-text {
        border: none;
        text-align: center;
        margin-top: -2em;
    }

    .contact-container>.contact-email {
        margin-top: 0;
        margin-top: -2em;
    }

    #main-view {
        padding-top: 3em;
    }

    #profile {
        flex-direction: column;
    }

    #profile>#profile-info {
        margin-left: 0;
        text-align: center;
    }

    .social {
        margin-top: 5em;
    }

    .section {
        justify-content: space-between;
    }

    .section>.section-description {
        text-align: right;
    }
}

/* phone portrait */
@media (max-width: 500px) {
    .header-unselected {
        display: none;
    }

    .menu-bars {
        display: block !important;
        padding: 1.5em 15%;
    }

    .mobile-menu {
        background-color: white;
        border-bottom: 1px solid #ececec;
        z-index: 10;
        width: 80%;
        padding: 2em 10%;
        position: relative;
        display: block;
    }

    .mobile-menu>ul {
        list-style: none;
    }

    .mobile-menu>ul>li {
        padding: 1.5em;
    }

    #header {
        flex-flow: row wrap;
        width: 100%;
        justify-content: space-between;
        padding: 0;
    }

    #header>ul>li {
        margin: 0;
    }

    .project-grid {
        padding: 0;
    }

    .contact-container>.contact-text {
        width: 95%;
    }

    .footer {
        flex-direction: column;
        height: 15em;
    }

    .footer>.i-love {
        text-align: center;
    }

    .footer>.footer-powered {
        text-align: center;
    }

    #profile>img {
        height: 15em;
    }

    #profile>#profile-info {
        margin-top: 1em;
    }

    #profile>#profile-info>#name {
        font-size: 4em;
    }

    #main-view {
        padding-top: 0;
    }

    .section {
        padding: 2em 1em;
    }

    #header>ul {
        margin: 0 15%;
    }
}