
@media (max-width: 1900px) {
    .welcome {
       display: flex;
       justify-content: center;
    }

    .presentation {
        margin-top: 100vh;
    }

    .project {
        margin-left: 5em;
    }

    .proyectos {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.proyectos {
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 700px) {
    .proyectos {
        margin-left: -5%;
    }
}

@media (max-width: 850px) {
    .proyectos {
        margin-left: 8%;
    }
}

@media (max-width: 750px) {
    .proyectos {
        margin-left: -5%;
    }

    .presentation {
        margin-top: 39em;
    }
}