@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

@import url('./presentation.css');
@import url('./projects.css');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    overflow: hidden;
    height: 5em;
    width: 80%;
    background-color: white;
    border-bottom: 1px solid #ececec;
    padding: 0 10% 0 10%;
    position: fixed;
    z-index: 9;
}

.header .logo {
    height: 2em;
    margin: 1.5em;
}

.header ul {
    display: flex;
    list-style: none;
    float: right;
    margin: 2.15em;
}

.header ul li {
    margin: 0 1.5em 0 1.5em;
    font-size: .85em;
}

.header-deco {
    width: 100%;
    height: 4px;
    background: linear-gradient(45deg, #F8054D, #D336FF);
    z-index: 10;
    position: fixed;
}

.separator {
    height: 5em;
    width: 100%;
}

.profile {
    float: right;

    height: 35em;
    width: 35em;
}

.profile .img {
    z-index: 8;
    height: 60%;
    position: relative;
    margin: 20%;

    border-radius: 5px;
}

.deco {
    border-radius: 5px;

    height: 10em;
    width: 10em;
    background: linear-gradient(45deg, #F8054D, #D336FF);
}

.deco-container {
    display: flex;
}

.square1 {
    animation-delay: .5s;

    margin-top: -6em;
    height: 8em;
    width: 8em;
    margin-left: 7em;
}

.square2 {
    animation-delay: 1.2s;
    
    background: linear-gradient(45deg, #F8054D50, #D336FF50);

    margin-top: -6em;
    margin-left: 1.25em;
    height: 5em;
    width: 5em;
}

.square3 {
    animation-delay: .8s;
    
    background: linear-gradient(45deg, #F8054D70, #D336FF70);

    margin-top: -28.25em;
    margin-left: 7.75em;
    
    height: 6em;
    width: 6em;
}

.welcome {
    width: 60%;
    padding: 0 20% 0 20%;
}