.desktop-options {
    display: inline-flex;
    list-style: none;
    margin-left: -2em;
}

.desktop-options>li {
    margin: 0 1.5em;
    padding: 1em 0;
}

.desktop-options>li>a {
    text-decoration: none;
    color: black;
}

.selected {
    border-bottom: 2px solid #F8054D;
}

.desktop-options-menu {
    text-align: center;
    margin: 1em 0;
}