.header-mobile {
    padding: 5em 0 2em 0;
    background-color: #F8054D;
    text-align: center;
}

.mobile-content > img {
    height: 15em;
}

.mobile-description {
    color: white
}

.mobile-description > h1 {
    font-size: 3em;
}

.mobile-description > strong {
    font-size: 1em;
}