.project-canvas {
    background-color: blue;
    height: 20em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-canvas>img {
    height: 5em;
    transition: height .3s;
}

.project-container:hover>.project-canvas>img {
    /*height: 6em;*/
}

.project-container:hover>.project-description {
    padding-right: 2.5em;
}

.project-description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3em;
    transition: padding .2s;
}

.project-description>img {
    height: 1em;
}

.project-description>p {
    margin-right: 1em;
}

.project-title-canvas>div>img {
    height: 5em;
}

.project-title-canvas>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15em;
    padding-top: 10em;
    padding-bottom: 6em;
}

.project-title-canvas {
    overflow: hidden;
    background-color: white;
}

.project-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3em 15%;
    overflow-y: scroll;
}

.project-content-md {
    margin: 7% 10%
}

.project-image-canvas {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.project-overlay-close {
    color: white;
    height: 1.5em;
    opacity: 0.5;
    margin: 1em;
    transition: opacity .1s;
    cursor: pointer;
}

.project-overlay-close:hover {
    opacity: 1
}

.project-overlay-links {
    margin: 3em 0;
    display: flex;
    list-style: none;
    padding: 0;
}


.project-overlay-links>a {
    text-decoration: none;
    margin: .5em;
    padding: 1.1em 3em;
    background-color: white;
    color: #212121;
    font-size: 11pt;
    text-transform: capitalize;
}

@media (max-width: 800px) {
    .project-overlay {
        background-color: white;
        padding: 0
    }

    .project-overlay-close {
        position: absolute;
    }
}